<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- ANNOTATIONS POUR L'INJECTION DE DEPENDANCES -->
	<context:annotation-config />
	<context:component-scan base-package="fitec"/>

	<bean id="biblioDS" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" scope="singleton">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fitec" />
		<property name="username" value="java1" />
		<property name="password" value="java1" />
	</bean>

	<bean id="sessionFactoryID"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="biblioDS" />
		<property name="mappingResources">
			<list>
				<value>fitec/metier/User.hbm.xml</value>
				<value>fitec/metier/Auteur.hbm.xml</value>
				<value>fitec/metier/Editeur.hbm.xml</value>
				<value>fitec/metier/Livre.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.HSQLDialect
			</value>
		</property>
	</bean>
	<bean id="HbnFactory" class="fitec.service.HbnFactory">
		<property name="sessionFactory" ref="sessionFactoryID" />
	</bean>

	<bean id="DaoAuteur" class="fitec.dao.HbnDaoAuteur">
		<property name="sessionFactory" ref="sessionFactoryID"></property>
	</bean>
	
	<bean id="DaoEditeur" class="fitec.dao.HbnDaoEditeur">
		<property name="sessionFactory" ref="sessionFactoryID"></property>
	</bean>

	<bean id="DaoUser" class="fitec.dao.HbnDaoUser">
		<property name="sessionFactory" ref="sessionFactoryID"></property>
	</bean>

</beans>